.date-range {
  position: relative;
  z-index: -2;

  display: flex;
  justify-content: center;
  gap: 120px;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;

  font-weight: 700;
  font-size: clamp(3.5rem, 15vw - 1rem, 12.5rem);

  @media (max-width: 768px) {
    gap: 64px;
    padding-top: 56px;
    padding-bottom: 56px;
  }

  @media (max-width: 480px) {
    gap: 32px;
  }

  &-wrapper {
    position: relative;
    z-index: 1;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: var(--dark-blue--opacity-01);

      @media (max-width: 768px) {
        top: 100%;
      }
    }
  }

  &__start {
    color: var(--blue);
  }

  &__end {
    color: var(--pink);
  }
}
