:root {
  --blue: #3877ee;
  --blue--opacity-01: rgba(56, 119, 238, 0.1);
  --blue--opacity-05: rgba(56, 119, 238, 0.5);

  --dark-blue: #42567a;
  --dark-blue--opacity-01: rgba(66, 86, 122, 0.1);
  --dark-blue--opacity-02: rgba(66, 86, 122, 0.2);
  --dark-blue--opacity-05: rgba(66, 86, 122, 0.5);

  --light-grey: #f4f5f9;
  --pink: #ef5da8;

  --white: #fff;

  --transition-duration: .3s
}
